<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display One Product</title>
    <style>
        body {
            box-sizing: border-box;
        }

        .container {
            border: 3px solid lightblue;
            border-radius: 3px;
            padding: 10px;
            margin: 0 auto;
            width: 500px;
        }

        a:link {
            background-color: #61ee6d;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        a:hover {
            background-color: rgb(4, 143, 4);
        }
    </style>
</head>

<body>
    <div class="container">

        <h1>Here is the matched product!</h1>
        <hr>

        <p>Title: <%= product.title %></p>
        <p>Description: <%= product.description %></p>
        <p>Price: <%= product.price %></p>
        <img src="<%= product.imageUrl %>" alt="" width="300" height="300">
        <!-- <br><br>
        <a href="/add-product">Enter A New Product!</a> -->
    </div>

</body>

</html>