<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a:link {
            background-color: #61ee6d;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        a:hover {
            background-color: rgb(4, 143, 4);
        }
    </style>
</head>
<body>
    <h1><%= pageTitle %></h1>
    <h3>Click the link below to add a new book.</h3>
    <a href="/add-book">Enter A New Book!</a>
</body>
</html>