<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      
        body {
            background-color: lightblue;
        }

        input[type=text] {
            display: block;
        }

    </style>
</head>

<body>
    <div class="container">
        <form action="/book" method="POST">
            <label for="title">Enter A Book's Title</label>
            <input type="text" name="title">
            <label for="summary">Enter A Book's Summary</label>
            <input type="text" name="summary">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>