<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      
        body {  
            box-sizing: border-box;
        }

        input[type=text] {
            display: block;
        }

        .container {
            border: 3px solid lightblue;
            border-radius: 3px;
            padding: 10px;
            margin: 0 auto;
            width: 700px;
        }

        #submitButton {
            background-color: #61ee6d;
            color: black;
            width: 100px;
            height: 30px;
            padding: auto;
            text-align: center;
            border-radius: 3px;
        }

        #submitButton:hover {
            background-color: rgb(4, 143, 4);

        }

    </style>
</head>

<body>
    <div class="container">
        <form action="/book" method="POST">
            <h1>Enter A New Book's Title & Summary</h1>
            <hr>
            <label for="title">Title</label>
            <input type="text" name="title" required>
            <label for="summary">Summary</label>
            <input type="text" name="summary" required><br>
            <button type="submit" id="submitButton">Submit</button>
        </form>
    </div>
</body>

</html>